#-------------------------GENERAL--------------------------------

#-------------------------FRONTEND-------------------------------

FRONTEND_PORT=5173
BACKEND_SERVER=http://localhost:3000/

#-------------------------BACKEND--------------------------------

BACKEND_PORT=3000
DB_URL=mongodb://sweden-fullstack-individual:YOUR_PASSWORD_HERE@ac-goxif1i-shard-00-00.7k3tg9d.mongodb.net:27017,ac-goxif1i-shard-00-01.7k3tg9d.mongodb.net:27017,ac-goxif1i-shard-00-02.7k3tg9d.mongodb.net:27017/?ssl=true &
DB_DATABASE=sweden-fullstack-individual
