#-------------------------GENERAL--------------------------------

#-------------------------FRONTEND-------------------------------

FRONTEND_PORT=5173
BACKEND_SERVER=http://localhost:3000/

#-------------------------BACKEND--------------------------------

BACKEND_PORT=3000
DB_URL=mongodb+srv://sweden-fullstack-individual:<db_password>@sweden-fullstack-indivi.7k3tg9d.mongodb.net/?appName=sweden-fullstack-individual
DB_DATABASE=sweden-fullstack-individual
